<main>
  <h1>{{title}}</h1>
  <section class="messages-list">

    {{#each messages}}
    <div class="message">
      <p class="message-user">{{this.user}}</p>
      <p class="message-published">{{dateformat this.added}}</p>
      <p class="message-body">{{this.text}}</p>

    </div>
    {{/each}}

    <a class="add-comment-button" href="/new"><button type="button">Add a Comment</button></a>

  </section>

</main>